# SPDX-FileCopyrightText: 2024 AFCMS <afcm.contact@gmail.com>
# SPDX-License-Identifier: GPL-3.0-or-later

---
name: PlatformIO CI

on:
  push:
    branches: [master]
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Restore Cache
        uses: actions/cache@v5
        with:
          path: |
            ~/.cache/pip
            ~/.platformio/.cache
          key: ${{ runner.os }}-pio

      - name: Setup Python 3.11
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"

      - name: Install PlatformIO Core
        run: pip install --upgrade platformio

      - name: Build PlatformIO Project
        run: pio run
